.navbar{
    /*background: linear-gradient( to right,rgb(60, 54, 146), rgb(223, 45, 45));*/
    background-color: rgb(60, 54, 146);   
    padding: 10px 30px;
}
.navbar a:hover,a:focus,a:active{
    color:white;
}