* {
    margin: 0;
    padding: 0;
}
.navbar{
    /*background: linear-gradient( to right,rgb(60, 54, 146), rgb(223, 45, 45));*/
    background-color: rgb(60, 54, 146);   
    padding: 10px 30px;
}
.navbar a:hover,a:focus,a:active{
    color:white;
}
#order{
    margin-top:70px;
    padding:50px;
    width:100%;
}
#order input{
    margin:15px 15px 15px 0;
    padding:5px;
    width:50%;
}
#order label{
    padding:5px 5px 5px 0px;
}
.submit-btn {
    padding: 10px 30px;
    cursor: pointer;
    background-color: rgb(60, 54, 146);
    color:white;
    border:0;
    border-radius: 30px;
    margin-top:20px;
}
